
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header Start -->
<div  style="margin-bottom: 90px; background-color: #f3c5be; padding: 30px; ">
    <div class="container text-center py-5">
        <h3 class="text-white display-3 mb-4">About</h3>
    </div>
</div>
<!-- Header End -->
<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-6 pb-5 pb-lg-0">
                <img class="img-fluid w-100" src="~/assets/img/thai-massage.jpg" alt="">
            </div>
            <div id="section1" class="col-lg-6">
                <h6 class="d-inline-block text-primary text-uppercase bg-light py-1 px-2">About Us</h6>
                <h1 class="mb-4">Body Massage</h1>
                <p class="pl-4 border-left border-primary">Indulge in the ultimate relaxation experience at our beauty center
                    with our rejuvenating body massage services. Let go of stress and tension as our skilled
                    therapists work their magic, employing a combination of techniques to soothe your muscles
                    and revitalize your senses. Whether you seek relief from everyday strains or simply crave
                    a pampering session, our tailored massages cater to your needs, promoting wellness and inner balance.
                </p>
                <div class="row pt-3">
                    <div class="col-6">
                        <div class="bg-light text-center p-4">
                            <h3 class="display-4 text-primary" data-toggle="counter-up">13</h3>
                            <h6 class="text-uppercase">Massage Specialists</h6>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="bg-light text-center p-4">
                            <h3 class="display-4 text-primary" data-toggle="counter-up">123</h3>
                            <h6 class="text-uppercase">Happy Clients</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-6 pb-5 pb-lg-0">
                <img class="img-fluid w-100" src="~/assets/img/gettyimages-1372666222-64a88791deba2.jpg" alt="">
            </div>
            <div id="section2" class="col-lg-6">
                <h1 class="mb-4">Facial Therapy</h1>
                <p class="pl-4 border-left border-primary">
                    Unlock the secret to radiant, glowing skin with our exquisite facial therapy treatments. 
                    Rejuvenate your complexion with personalized skincare solutions designed to address your unique concerns, 
                    from hydration and anti-aging to acne control and brightening. Our experienced estheticians utilize premium 
                    products and advanced techniques to cleanse, exfoliate, and nourish your skin, leaving you with a youthful, 
                    luminous glow that emanates confidence and beauty.
                </p>
                <div class="row pt-3">
                    <div class="col-6">
                        <div class="bg-light text-center p-4">
                            <h3 class="display-4 text-primary" data-toggle="counter-up">11</h3>
                            <h6 class="text-uppercase">Facial Therapists</h6>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="bg-light text-center p-4">
                            <h3 class="display-4 text-primary" data-toggle="counter-up">156</h3>
                            <h6 class="text-uppercase">Happy Clients</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-6 pb-5 pb-lg-0">
                <img class="img-fluid w-100" src="~/assets/img/3049675.jpg" alt="">
            </div>
            <div id="section3" class="col-lg-6">
                <h1 class="mb-4">Make Up</h1>
                <p class="pl-4 border-left border-primary">
                    Elevate your look to new heights with our expert makeup services, tailored to enhance your natural
                    beauty and complement your individual style. Whether you desire a subtle, everyday elegance or a glamorous, 
                    head-turning transformation, our talented makeup artists are adept at creating flawless looks for any occasion. 
                    From bridal makeup to special events, we specialize in accentuating your features with high-quality products and 
                    precision techniques, ensuring you feel confident and stunning from day to night.
                </p>
                <div class="row pt-3">
                    <div class="col-6">
                        <div class="bg-light text-center p-4">
                            <h3 class="display-4 text-primary" data-toggle="counter-up">17</h3>
                            <h6 class="text-uppercase">Make Up Artists</h6>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="bg-light text-center p-4">
                            <h3 class="display-4 text-primary" data-toggle="counter-up">248</h3>
                            <h6 class="text-uppercase">Happy Clients</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-6 pb-5 pb-lg-0">
                <img class="img-fluid w-100" src="~/assets/img/images.jpg" alt="">
            </div>
            <div id="section4" class="col-lg-6">
                <h1 class="mb-4">Nail Care</h1>
                <p class="pl-4 border-left border-primary">
                    Treat your hands and feet to the pampering they deserve with our comprehensive nail care services. 
                    From manicures and pedicures to nail enhancements and nail art, our skilled technicians provide meticulous 
                    attention to detail, using top-quality products and sterilized tools for a clean and polished finish. 
                    Whether you prefer a classic French manicure or a trendy gel design, our nail services cater to your preferences, 
                    leaving you with perfectly groomed nails that exude sophistication and style.
                </p>
                <div class="row pt-3">
                    <div class="col-6">
                        <div class="bg-light text-center p-4">
                            <h3 class="display-4 text-primary" data-toggle="counter-up">19</h3>
                            <h6 class="text-uppercase">Nail Care Specialists</h6>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="bg-light text-center p-4">
                            <h3 class="display-4 text-primary" data-toggle="counter-up">236</h3>
                            <h6 class="text-uppercase">Happy Clients</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container pt-5">
        <div class="row justify-content-center text-center">
            <div class="col-lg-6">
                <h6 class="d-inline-block bg-light text-primary text-uppercase py-1 px-2">Spa Specialist</h6>
                <h1 class="mb-5">Spa & Beauty Specialist</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="team position-relative overflow-hidden mb-5">
                    <img class="img-fluid" src="~/assets/img/team-1.jpg" alt="">
                    <div class="position-relative text-center">
                        <div class="team-text bg-primary text-white">
                            <h5 class="text-white text-uppercase">Olivia Mia</h5>
                            <p class="m-0">Massage Specialist</p>
                        </div>
                        <div class="team-social bg-dark text-center">
                            <a class="btn btn-outline-primary btn-square mr-2" href="https://x.com/?lang=en"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-primary btn-square mr-2" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-primary btn-square" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team position-relative overflow-hidden mb-5">
                    <img class="img-fluid" src="~/assets/img/team-2.jpg" alt="">
                    <div class="position-relative text-center">
                        <div class="team-text bg-primary text-white">
                            <h5 class="text-white text-uppercase">Cory Brown</h5>
                            <p class="m-0">Facial Therapist</p>
                        </div>
                        <div class="team-social bg-dark text-center">
                            <a class="btn btn-outline-primary btn-square mr-2" href="https://x.com/?lang=en"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-primary btn-square mr-2" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-primary btn-square" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team position-relative overflow-hidden mb-5">
                    <img class="img-fluid" src="~/assets/img/team-3.jpg" alt="">
                    <div class="position-relative text-center">
                        <div class="team-text bg-primary text-white">
                            <h5 class="text-white text-uppercase">Elizabeth Ross</h5>
                            <p class="m-0">Make Up Artist</p>
                        </div>
                        <div class="team-social bg-dark text-center">
                            <a class="btn btn-outline-primary btn-square mr-2" href="https://x.com/?lang=en"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-primary btn-square mr-2" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-primary btn-square" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team position-relative overflow-hidden mb-5">
                    <img class="img-fluid" src="~/assets/img/team-4.jpg" alt="">
                    <div class="position-relative text-center">
                        <div class="team-text bg-primary text-white">
                            <h5 class="text-white text-uppercase">Kelly Walke</h5>
                            <p class="m-0">Nail Care Specialist</p>
                        </div>
                        <div class="team-social bg-dark text-center">
                            <a class="btn btn-outline-primary btn-square mr-2" href="https://x.com/?lang=en"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-outline-primary btn-square mr-2" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-outline-primary btn-square" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
