
@{
    ViewBag.Title = "price";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Header Start -->
<div style="margin-bottom: 90px; background-color: #f3c5be; padding: 30px; ">
    <div class="container text-center py-5">
        <h3 class="text-white display-3 mb-4">Pricing</h3>
    </div>
</div>
<!-- Header End -->
<!-- Pricing Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="~/assets/img/pricing.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7 pt-5 pb-lg-5">
                <div class="pricing-text bg-light p-4 p-lg-5 my-lg-5" style=" width: 1000px;">
                    <div class="owl-carousel pricing-carousel">
                        <div class="bg-white" style=" width: 400px; height: 350px;">
                            <div class="d-flex align-items-center justify-content-between border-bottom border-primary p-4">
                                <h1 class="display-4 mb-0">
                                    01
                                </h1>
                                <h5 class="text-primary text-uppercase m-0">Body Massage</h5>
                            </div>
                            <div class="p-4">
                                <div style=" display: inline-flex; justify-content: center;"><p><i class="fa fa-check text-success mr-2"></i>Full Body Massage</p> <h5 style=" padding-left: 112px">50$</h5></div>
                                <div style=" display: inline-flex; justify-content: center;"><p><i class="fa fa-check text-success mr-2"></i>Hot Stone Massage</p> <h5 style=" padding-left: 105px">37$</h5></div>
                                <div style=" display: inline-flex; justify-content: center;"><p><i class="fa fa-check text-success mr-2"></i>Anticellulite Massage</p> <h5 style=" padding-left: 90px">40$</h5></div>
                                <div style=" display: inline-flex; justify-content: center;"><p><i class="fa fa-check text-success mr-2"></i>Lymphatic Massage</p> <h5 style=" padding-left: 100px">62$</h5></div>
                            </div>
                        </div>
                        <div class="bg-white" style=" width: 400px; height: 350px;">
                            <div class="d-flex align-items-center justify-content-between border-bottom border-primary p-4">
                                <h1 class="display-4 mb-0">
                                    02
                                </h1>
                                <h5 class="text-primary text-uppercase m-0">Facial Therapy</h5>
                            </div>
                            <div class="p-4">
                                <div style=" display: inline-flex; justify-content: center;"><p><i class="fa fa-check text-success mr-2"></i>Laser Therapy</p> <h5 style=" padding-left: 130px">85$</h5></div>
                                <div style=" display: inline-flex; justify-content: center;"><p><i class="fa fa-check text-success mr-2"></i>LED Therapy</p> <h5 style=" padding-left: 147px">79$</h5></div>
                            </div>
                        </div>
                        <div class="bg-white" style=" width: 400px; height: 350px;">
                            <div class="d-flex align-items-center justify-content-between border-bottom border-primary p-4">
                                <h1 class="display-4 mb-0">
                                   03
                                </h1>
                                <h5 class="text-primary text-uppercase m-0">Make Up</h5>
                            </div>
                            <div class="p-4">
                                <div style=" display: inline-flex; justify-content: center;"><p><i class="fa fa-check text-success mr-2"></i>Nude Make Up</p> <h5 style=" padding-left: 135px">40$</h5></div>
                                <div style=" display: inline-flex; justify-content: center;"><p><i class="fa fa-check text-success mr-2"></i>Evening Make Up</p> <h5 style=" padding-left: 115px">60$</h5></div>
                                <div style=" display: inline-flex; justify-content: center;"><p><i class="fa fa-check text-success mr-2"></i>Permanent Brows</p> <h5 style=" padding-left: 110px">56$</h5></div>
                                <div style=" display: inline-flex; justify-content: center;"><p><i class="fa fa-check text-success mr-2"></i>Permanent Eyelines</p> <h5 style=" padding-left: 95px">48$</h5></div>
                            </div>
                        </div>
                        <div class="bg-white" style=" width: 400px; height: 350px;">
                            <div class="d-flex align-items-center justify-content-between border-bottom border-primary p-4">
                                <h1 class="display-4 mb-0">
                                    04
                                </h1>
                                <h5 class="text-primary text-uppercase m-0">Nail Care</h5>
                            </div>
                            <div class="p-4">
                                <div style=" display: inline-flex; justify-content: center;"><p><i class="fa fa-check text-success mr-2"></i>Gel Manicure</p> <h5 style=" padding-left: 150px">30$</h5></div>
                                <div style=" display: inline-flex; justify-content: center;"><p><i class="fa fa-check text-success mr-2"></i>Acrylic Manicure</p> <h5 style=" padding-left: 123px">40$</h5></div>
                                <div style=" display: inline-flex; justify-content: center;"><p><i class="fa fa-check text-success mr-2"></i>Gel Pedicure</p> <h5 style=" padding-left: 155px">35$</h5></div>
                                <div style=" display: inline-flex; justify-content: center;"><p><i class="fa fa-check text-success mr-2"></i>Acrylic Pedicure</p> <h5 style=" padding-left: 128px">45$</h5></div>
                                <div style=" display: inline-flex; justify-content: center;"><p><i class="fa fa-check text-success mr-2"></i>Nail Hygienization</p> <h5 style=" padding-left: 112px">20$</h5></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pricing End -->
<!-- Open Hours Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="~/assets/img/opening.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 pt-5 pb-lg-5">
                <div class="hours-text bg-light p-4 p-lg-5 my-lg-5">
                    <h6 class="d-inline-block text-white text-uppercase bg-primary py-1 px-2">Open Hours</h6>
                    <h1 class="mb-4">Best Relax And Spa Zone</h1>
                    <p>Dolores lorem lorem ipsum sit et ipsum. Sadip sea amet diam dolore sed et. Sit rebum labore sit sit ut vero no sit. Et elitr stet dolor sed sit et sed ipsum et kasd ut. Erat duo eos et erat sed diam duo</p>
                    <ul class="list-inline">
                        <li class="h6 py-1"><i class="far fa-circle text-primary mr-3"></i>Mon – Fri : 9:00 AM - 7:00 PM</li>
                        <li class="h6 py-1"><i class="far fa-circle text-primary mr-3"></i>Saturday : 9:00 AM - 6:00 PM</li>
                        <li class="h6 py-1"><i class="far fa-circle text-primary mr-3"></i>Sunday : Closed</li>
                    </ul>
                    <a href="https://localhost:44308/Home/Service#section5" class="btn btn-primary mt-2">Book Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Open Hours End -->
