
@{
    ViewBag.Title = "service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header Start -->
<div style="margin-bottom: 90px; background-color: #f3c5be; padding: 30px; ">
    <div class="container text-center py-5">
        <h3 class="text-white display-3 mb-4">Services</h3>
    </div>
</div>
<!-- Header End -->
<!-- Service Start -->
<div class="container-fluid px-0 py-5 my-5">
    <div class="row mx-0 justify-content-center text-center">
        <div class="col-lg-6">
            <h6 class="d-inline-block bg-light text-primary text-uppercase py-1 px-2">Our Service</h6>
            <h1>Spa & Beauty Services</h1>
        </div>
    </div>
    <div class="owl-carousel service-carousel">
        <div class="service-item position-relative">
            <img class="img-fluid" src="~/assets/img/body massage.jpg" alt="" style=" height: 500px;" >
            <div class="service-text text-center">
                <h4 class="text-white font-weight-medium px-3">Body Massage</h4>
                <p class="text-white px-3 mb-3">Experience total relaxation and rejuvenation with our body massage, where skilled hands use expert techniques 
                    to soothe muscles, relieve tension, and enhance overall well-being.</p>
                <div class="w-100 bg-white text-center p-4">
                    <a class="btn btn-primary" href="https://localhost:44308/Home/Service#section5">Make Order</a>
                </div>
            </div>
        </div>
        <div class="service-item position-relative">
            <img class="img-fluid" src="~/assets/img/stone image.jpg" alt="" style=" height: 500px;">
            <div class="service-text text-center">
                <h4 class="text-white font-weight-medium px-3">Stone Massage</h4>
                <p class="text-white px-3 mb-3">Indulge in our stone massage, a therapeutic treatment that combines the deep penetrating heat of smooth stones with 
                    traditional massage techniques to melt away stress and restore balance.</p>
                <div class="w-100 bg-white text-center p-4">
                    <a class="btn btn-primary" href="https://localhost:44308/Home/Service#section5">Make Order</a>
                </div>
            </div>
        </div>
        <div class="service-item position-relative">
            <img class="img-fluid" src="~/assets/img/laser therapy.jpg" alt="" style=" height: 500px;">
            <div class="service-text text-center">
                <h4 class="text-white font-weight-medium px-3">Laser Therapy</h4>
                <p class="text-white px-3 mb-3">Benefit from our advanced laser therapy, a cutting-edge procedure that uses concentrated light energy to target and treat various skin conditions, 
                    promoting healing and revitalization.</p>
                <div class="w-100 bg-white text-center p-4">
                    <a class="btn btn-primary" href="https://localhost:44308/Home/Service#section5">Make Order</a>
                </div>
            </div>
        </div>
        <div class="service-item position-relative">
            <img class="img-fluid" src="~/assets/img/LED therapy.jpg" alt="" style=" height: 500px;">
            <div class="service-text text-center">
                <h4 class="text-white font-weight-medium px-3">LED Therapy</h4>
                <p class="text-white px-3 mb-3">Transform your skin with our LED therapy, a non-invasive treatment that uses specific wavelengths of light to stimulate cellular activity, 
                    improve skin texture, and reduce signs of aging.</p>
                <div class="w-100 bg-white text-center p-4">
                    <a class="btn btn-primary" href="https://localhost:44308/Home/Service#section5">Make Order</a>
                </div>
            </div>
        </div>
        <div class="service-item position-relative">
            <img class="img-fluid" src="~/assets/img/make-up.jpg" alt="" style=" height: 500px;">
            <div class="service-text text-center">
                <h4 class="text-white font-weight-medium px-3">Make Up</h4>
                <p class="text-white px-3 mb-3">Enhance your natural beauty with our professional make-up services, designed to create flawless, stunning looks for any occasion, 
                    from subtle daytime elegance to glamorous evening allure.</p>
                <div class="w-100 bg-white text-center p-4">
                    <a class="btn btn-primary" href="https://localhost:44308/Home/Service#section5">Make Order</a>
                </div>
            </div>
        </div>
        <div class="service-item position-relative">
            <img class="img-fluid" src="~/assets/img/nails care.jpg" alt="" style=" height: 500px;">
            <div class="service-text text-center">
                <h4 class="text-white font-weight-medium px-3">Nails Care</h4>
                <p class="text-white px-3 mb-3">Pamper your hands and feet with our comprehensive nail care services, offering meticulous manicures and pedicures that leave
                    your nails beautifully groomed and polished.</p>
                <div class="w-100 bg-white text-center p-4">
                    <a class="btn btn-primary" href="https://localhost:44308/Home/Service#section5">Make Order</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center bg-appointment mx-0">
        <div id="section5" class="col-lg-6 py-5">
            <div class="p-5 my-5" style="background: rgba(33, 30, 28, 0.7);">
                <h1 class="text-white text-center mb-4">Make Appointment</h1>
                <form>
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control bg-transparent p-4" placeholder="Your Name" required="required" style=" color: white; " />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="email" class="form-control bg-transparent p-4" placeholder="Your Email" required="required" style=" color: white; " />
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="date" id="date" data-target-input="nearest">
                                    <input type="text" class="form-control bg-transparent p-4 datetimepicker-input" placeholder="Select Date" data-target="#date" data-toggle="datetimepicker" style=" color: white; " />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <div class="time" id="time" data-target-input="nearest">
                                    <input type="text" class="form-control bg-transparent p-4 datetimepicker-input" placeholder="Select Time" data-target="#time" data-toggle="datetimepicker" style=" color: white;"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <select class="custom-select bg-transparent px-4" style=" color: white; height: 47px; ">
                                    <option value="" disabled selected hidden >Select a service</option>
                                    <option value="1" style=" color: white; background-color: #F9A392;">Body Massage</option>
                                    <option value="2" style=" color: white; background-color: #F9A392;">Stone Massage</option>
                                    <option value="3" style=" color: white; background-color: #F9A392;">Anti-cellulite massage</option>
                                    <option value="4" style=" color: white; background-color: #F9A392;">Lymphatic massage </option>
                                    <option value="5" style=" color: white; background-color: #F9A392;">Laser Therapy</option>
                                    <option value="6" style=" color: white; background-color: #F9A392;">Led Therapy</option>
                                    <option value="7" style=" color: white; background-color: #F9A392;">Make Up</option>
                                    <option value="8" style=" color: white; background-color: #F9A392;">Nail Procedure</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <button class="btn btn-primary btn-block" type="submit" style="height: 47px;">Make Appointment</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Testimonial Start -->
<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-6 pb-5 pb-lg-0">
                <img class="img-fluid w-100" src="~/assets/img/testimonial.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <h6 class="d-inline-block text-primary text-uppercase bg-light py-1 px-2">Testimonial</h6>
                <h1 class="mb-4">What Our Clients Say!</h1>
                <div class="owl-carousel testimonial-carousel">
                    <div class="position-relative">
                        <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                        <div class="d-flex align-items-center mb-3">
                            <img class="img-fluid rounded-circle" src="~/assets/img/testimonial-1.jpg" style="width: 60px; height: 60px;" alt="">
                            <div class="ml-3">
                                <h6 class="text-uppercase">Sarah B</h6>
                            </div>
                        </div>
                        <p class="m-0">"Artistry Spa is a haven of relaxation! I recently treated myself to a full body massage, and it was pure magic. 
                            The therapist was incredibly skilled, applying just the right amount of pressure to melt away all my tension. 
                            I left feeling completely rejuvenated and ready to take on the world. Artistry gets top marks from me for their luxurious 
                            atmosphere and exceptional service!"
                        </p>
                    </div>
                    <div class="position-relative">
                        <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                        <div class="d-flex align-items-center mb-3">
                            <img class="img-fluid rounded-circle" src="~/assets/img/testimonial-2.jpg" style="width: 60px; height: 60px;" alt="">
                            <div class="ml-3">
                                <h6 class="text-uppercase">Alina C</h6>
                            </div>
                        </div>
                        <p class="m-0">"I was starting to notice some fine lines and wrinkles, and I knew it was time to do something about it. 
                            I opted for Artistry Spa's laser face therapy treatment, and I'm so glad I did! The procedure was painless and comfortable, 
                            and the results are amazing. My skin looks smoother, brighter, and more youthful. Thank you, Artistry, for helping me regain my confidence!"
                        </p>
                    </div>
                    <div class="position-relative">
                        <i class="fa fa-3x fa-quote-right text-primary position-absolute" style="top: -6px; right: 0;"></i>
                        <div class="d-flex align-items-center mb-3">
                            <img class="img-fluid rounded-circle" src="~/assets/img/testimonial-3.jpg" style="width: 60px; height: 60px;" alt="">
                            <div class="ml-3">
                                <h6 class="text-uppercase">Irina M</h6>
                            </div>
                        </div>
                        <p class="m-0">"Finding a nail salon you can trust can be tough, but Artistry Spa has definitely won me over! 
                            Their nail technicians are true artists, and they take the time to ensure every detail is perfect. 
                            I recently had a mani-pedi there, and it was the ultimate pampering experience. The polish application is flawless, 
                            and the entire staff is so friendly and welcoming. Artistry is my go-to spot for beautiful, long-lasting nails."
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
